button {
    border-radius: 20px;
    background-image: linear-gradient(#38adae, #cd295a);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(#a9f1df, #ffbbbb);
    color: black;
}