---
import Layout from '../layouts/Layout.astro';
import { Button } from '../components/Button';

const buttonText = "Count : ";
---

<Layout title="Q-2">
	<div>
		<h1>LAB 08</h1>
		<h1>Contador - Q2</h1>
		<Button text={ buttonText } client:load/>
	</div>
</Layout>

<style>
	div {
		color: #38adae;
		font-family: Arial, sans-serif;
		font-size: 1.5em;
		text-align: center;
		padding: 15%;
	}
</style>
