---
import Layout from '../layouts/Layout.astro';
import { ShoppingList } from '../components/ShoppingList';

const buyList = [
	'Controller',
	'Bread',
	'Water',
	'Notebook',
	'Math Book',
	'Choco Bar',
	'Milk'
]
---

<Layout title="Q-3">
	<div class="container">
		<h1>LAB 08</h1>
		<ShoppingList>
			{buyList.map((item) => (
				<li>
					<input type="checkbox">
					<label for="checked">
						{ item }	
					</label>
				</li>
			))}
		</ShoppingList>
	</div>
</Layout>

<style>
	.container {
		padding: 10%;
	}

	.container h1 {
		color: #38adae;
		font-family: Arial, sans-serif;
		font-size: 2em;
		text-align: center;
	}
</style>
